<section class="homepage">

  <div class="action-buttons all-home animated fadeIn">
    <a href="/home">
      <i class="fas fa-home"></i>
    </a>
    <a href="/all">
      <i class="fas fa-th-large"></i>
    </a>
  </div>

  <div class="sform animated fadeInDown">
    <form action="/all/search" method="get">
      <input type="text" name="search" placeholder="search for a review">
      <button type="submit" value="search">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
<h2>reviews with <span class="color"><%=@title%></span>.</h2>

<div class="all-container animated fadeIn">

<%@movies.each do |movie|%>
  <a href="/movies/<%=movie.id%>" class="movie-card" name="<%=movie.title%> (<%=movie.release_date%>)"><img src="<%=movie.poster%>" alt="movie poster"></a>
<%end%>
</div>

</section>
