<section class="create-review-container">

  <div class="create-review">

    <div class="c-content c-content-left">
    <img src="<%=@movie.poster%>" alt="movie poster">
    <h2><%=@movie.title%> (<%=@movie.release_date%>)</h2>
    <p>dir. <%=@movie.director%></p>
    </div>

    <div class="c-content">
      <h2>your thoughts:</h2><br>
      <div class="review">
      <%=@movie.review%></div><br>
      <div class="action-buttons">
        <a href="/home"><i class="fas fa-home"></i></a>
        <a href="/movies/<%=@movie.id%>/edit"><i class="far fa-edit"></i></a>
        <form class="delete-button" method="post" action="/movies/<%= @movie.id %>">
          <input type="hidden" name="_method" value="delete">
          <button type="delete" value="delete review"><i class="fas fa-trash"></i></button>
        </form>
      </div>
    </div>

  </div>

</section>
