<section class="homepage">

  <div class="main-nav">

  <div class="home-button sform animated fadeInDown">
    <form action="/reviews/search" method="get">
      <input type="text" name="search" placeholder="search for a review">
      <button type="submit" value="search">
        <i class="fas fa-search"></i>
      </button>
    </form>

    <h2><span class="color"><%=current_user.username%></span> is on the grid.</h2>
  </div>

  <div class="action-buttons animated fadeIn ">
    <a href="/home">
      <i class="fas fa-home"></i>
    </a>
  </div>
  </div>

<div class="all-container animated fadeIn">

  <%@movies.reverse.each do |movie|%>
    <a href="/movies/<%=movie.id%>" class="movie-card" name="<%=movie.title%> (<%=movie.release_date%>)"><img src="<%=movie.poster%>" alt="movie poster"></a>
  <%end%>
</div>

</section>
