<section class="homepage allpage">

  <div class="main-nav">

    <section class="sform home-button">
      <form action="/movies/search" method="get" class="animated fadeIn slow">
        <input type="text" name="search" placeholder="enter a movie title">
        <button type="submit" value="search">
          <i class="fas fa-search"></i>
        </button>
      </form>


      <%if !@movie_list.empty?%>
        <h2>search results for
          <span class="color"><%=@movie%></span>.</h2>
      <%end%>
    </section>

    <div class="action-buttons">
      <a href="/home">
        <i class="fas fa-home"></i>
      </a>
    </div>

  </div>

  <div class="sresults animated fadeIn delay-1s">
    <form action="/movies/create" method="post" class="result-cards">
      <div class="card-container">
        <%@movie_list.each_with_index do |movie,i|%>
          <input type="radio" name="imdbID[<%=movie['imdbID']%>]" id="movie<%=i%>">

          <%if movie['Poster'] != "N/A"%>
            <label for="movie<%=i%>"><img src="<%=movie['Poster']%>" title="<%=movie['Title']%> (<%=movie['Year']%>)">
              <span class="simage"><%=movie['Title']%>
                (<%=movie['Year']%>)</span>
            </label>
          <%else%>
            <label for="movie<%=i%>">
              <span class="no-image"><%=movie['Title']%>
                (<%=movie['Year']%>)</span>
            </label>
          <%end%>

        <%end%>
      </div>
    </form>
  </div>
</section>
