<section class="create-review-container">
  <div class="create-review">
    <div class="c-content">
      <img src="<%=@movie.poster%>" alt="movie poster"><br>
      <h2><%=@movie.title%> (<%=@movie.release_date%>)</h2>
      <br>
      dir. <%=@movie.director%><br>
    </div>

    <div class="c-content">
      <p class="sreview"><%=@movie.summary%></p><br>
      <form action="/home" method="post">
        <input type="hidden" name="movie_id" value="<%=@movie.id%>">
        <textarea name="review" placeholder="write something witty"></textarea><br>
        <input type="submit" value="submit review">
      </form>
    </div>
    
  </div>
</section>
